.row-layout {
  display: flex;
}
.view-dashboard-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.group {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 200px;
  flex-grow: 1;
  flex-basis: 0;
}
